<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/moon_vangogh.png" alt="">
  </div>
  <div class="headings">
    <h2>Color Pallete</h2>
    <h3>Explore a World of Color with Picklr</h3>
    <a href="/smoothies" class="btn">View Palletes</a><br>
    <a href="/color-picker" class="btn">Pick Color</a>
  </div>
</header>


<%- include('partials/footer'); -%>