<%- include('partials/header'); -%>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="feed global">
        <div class="item" data-index="0" data-code="222831393e4600adb5eeeeee" style="animation-delay: 0ms;">
            <div class="palette">
              <div class="place c3" style="background-color: rgb(238, 238, 238);"><a href="/palette/222831393e4600adb5eeeeee"></a><span onclick="copy(this)" data-copy="#EEEEEE">#EEEEEE</span></div>
              <div class="place c2" style="background-color: rgb(0, 173, 181);"><a href="/palette/222831393e4600adb5eeeeee"></a><span onclick="copy(this)" data-copy="#00ADB5">#00ADB5</span></div>
              <div class="place c1" style="background-color: rgb(57, 62, 70);"><a href="/palette/222831393e4600adb5eeeeee"></a><span onclick="copy(this)" data-copy="#393E46">#393E46</span></div>
              <div class="place c0" style="background-color: rgb(34, 40, 49);"><a href="/palette/222831393e4600adb5eeeeee"></a><span onclick="copy(this)" data-copy="#222831">#222831</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('222831393e4600adb5eeeeee')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="1" data-code="e3fdfdcbf1f5a6e3e971c9ce" style="animation-delay: 30ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(113, 201, 206);"><a href="/palette/e3fdfdcbf1f5a6e3e971c9ce"></a><span onclick="copy(this)" data-copy="#71C9CE">#71C9CE</span></div>
              <div class="place c2" style="background-color: rgb(166, 227, 233);"><a href="/palette/e3fdfdcbf1f5a6e3e971c9ce"></a><span onclick="copy(this)" data-copy="#A6E3E9">#A6E3E9</span></div>
              <div class="place c1" style="background-color: rgb(203, 241, 245);"><a href="/palette/e3fdfdcbf1f5a6e3e971c9ce"></a><span onclick="copy(this)" data-copy="#CBF1F5">#CBF1F5</span></div>
              <div class="place c0" style="background-color: rgb(227, 253, 253);"><a href="/palette/e3fdfdcbf1f5a6e3e971c9ce"></a><span onclick="copy(this)" data-copy="#E3FDFD">#E3FDFD</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('e3fdfdcbf1f5a6e3e971c9ce')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="2" data-code="f9f7f7dbe2ef3f72af112d4e" style="animation-delay: 60ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(17, 45, 78);"><a href="/palette/f9f7f7dbe2ef3f72af112d4e"></a><span onclick="copy(this)" data-copy="#112D4E">#112D4E</span></div>
              <div class="place c2" style="background-color: rgb(63, 114, 175);"><a href="/palette/f9f7f7dbe2ef3f72af112d4e"></a><span onclick="copy(this)" data-copy="#3F72AF">#3F72AF</span></div>
              <div class="place c1" style="background-color: rgb(219, 226, 239);"><a href="/palette/f9f7f7dbe2ef3f72af112d4e"></a><span onclick="copy(this)" data-copy="#DBE2EF">#DBE2EF</span></div>
              <div class="place c0" style="background-color: rgb(249, 247, 247);"><a href="/palette/f9f7f7dbe2ef3f72af112d4e"></a><span onclick="copy(this)" data-copy="#F9F7F7">#F9F7F7</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('f9f7f7dbe2ef3f72af112d4e')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="3" data-code="ffc7c7ffe2e2f6f6f68785a2" style="animation-delay: 90ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(135, 133, 162);"><a href="/palette/ffc7c7ffe2e2f6f6f68785a2"></a><span onclick="copy(this)" data-copy="#8785A2">#8785A2</span></div>
              <div class="place c2" style="background-color: rgb(246, 246, 246);"><a href="/palette/ffc7c7ffe2e2f6f6f68785a2"></a><span onclick="copy(this)" data-copy="#F6F6F6">#F6F6F6</span></div>
              <div class="place c1" style="background-color: rgb(255, 226, 226);"><a href="/palette/ffc7c7ffe2e2f6f6f68785a2"></a><span onclick="copy(this)" data-copy="#FFE2E2">#FFE2E2</span></div>
              <div class="place c0" style="background-color: rgb(255, 199, 199);"><a href="/palette/ffc7c7ffe2e2f6f6f68785a2"></a><span onclick="copy(this)" data-copy="#FFC7C7">#FFC7C7</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('ffc7c7ffe2e2f6f6f68785a2&quot')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="4" data-code="fff5e4ffe3e1ffd1d1ff9494" style="animation-delay: 120ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(255, 148, 148);"><a href="/palette/fff5e4ffe3e1ffd1d1ff9494"></a><span onclick="copy(this)" data-copy="#FF9494">#FF9494</span></div>
              <div class="place c2" style="background-color: rgb(255, 209, 209);"><a href="/palette/fff5e4ffe3e1ffd1d1ff9494"></a><span onclick="copy(this)" data-copy="#FFD1D1">#FFD1D1</span></div>
              <div class="place c1" style="background-color: rgb(255, 227, 225);"><a href="/palette/fff5e4ffe3e1ffd1d1ff9494"></a><span onclick="copy(this)" data-copy="#FFE3E1">#FFE3E1</span></div>
              <div class="place c0" style="background-color: rgb(255, 245, 228);"><a href="/palette/fff5e4ffe3e1ffd1d1ff9494"></a><span onclick="copy(this)" data-copy="#FFF5E4">#FFF5E4</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('fff5e4ffe3e1ffd1d1ff9494')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="5" data-code="ad8b73ceab93e3caa5fffbe9" style="animation-delay: 150ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(255, 251, 233);"><a href="/palette/ad8b73ceab93e3caa5fffbe9"></a><span onclick="copy(this)" data-copy="#FFFBE9">#FFFBE9</span></div>
              <div class="place c2" style="background-color: rgb(227, 202, 165);"><a href="/palette/ad8b73ceab93e3caa5fffbe9"></a><span onclick="copy(this)" data-copy="#E3CAA5">#E3CAA5</span></div>
              <div class="place c1" style="background-color: rgb(206, 171, 147);"><a href="/palette/ad8b73ceab93e3caa5fffbe9"></a><span onclick="copy(this)" data-copy="#CEAB93">#CEAB93</span></div>
              <div class="place c0" style="background-color: rgb(173, 139, 115);"><a href="/palette/ad8b73ceab93e3caa5fffbe9"></a><span onclick="copy(this)" data-copy="#AD8B73">#AD8B73</span></div>
          </div>
          <div class="flex">
                <div class="actions flex">
                    <div class="button like" onclick="like('ad8b73ceab93e3caa5fffbe9')">
                    <div class="icon" icon="like"></div>
                  </div>
                </div>
            </div>
        </div><div class="item" data-index="6" data-code="08d9d6252a34ff2e63eaeaea" style="animation-delay: 180ms;">
            <div class="palette">
                <div class="place c3" style="background-color: rgb(234, 234, 234);"><a href="/palette/08d9d6252a34ff2e63eaeaea"></a><span onclick="copy(this)" data-copy="#EAEAEA">#EAEAEA</span></div>
                <div class="place c2" style="background-color: rgb(255, 46, 99);"><a href="/palette/08d9d6252a34ff2e63eaeaea"></a><span onclick="copy(this)" data-copy="#FF2E63">#FF2E63</span></div>
                <div class="place c1" style="background-color: rgb(37, 42, 52);"><a href="/palette/08d9d6252a34ff2e63eaeaea"></a><span onclick="copy(this)" data-copy="#252A34">#252A34</span></div>
                <div class="place c0" style="background-color: rgb(8, 217, 214);"><a href="/palette/08d9d6252a34ff2e63eaeaea"></a><span onclick="copy(this)" data-copy="#08D9D6">#08D9D6</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('08d9d6252a34ff2e63eaeaea')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="7" data-code="f9ed69f08a5db83b5e6a2c70" style="animation-delay: 210ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(106, 44, 112);"><a href="/palette/f9ed69f08a5db83b5e6a2c70"></a><span onclick="copy(this)" data-copy="#6A2C70">#6A2C70</span></div>
              <div class="place c2" style="background-color: rgb(184, 59, 94);"><a href="/palette/f9ed69f08a5db83b5e6a2c70"></a><span onclick="copy(this)" data-copy="#B83B5E">#B83B5E</span></div>
              <div class="place c1" style="background-color: rgb(240, 138, 93);"><a href="/palette/f9ed69f08a5db83b5e6a2c70"></a><span onclick="copy(this)" data-copy="#F08A5D">#F08A5D</span></div>
              <div class="place c0" style="background-color: rgb(249, 237, 105);"><a href="/palette/f9ed69f08a5db83b5e6a2c70"></a><span onclick="copy(this)" data-copy="#F9ED69">#F9ED69</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('f9ed69f08a5db83b5e6a2c70')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="8" data-code="f4eeffdcd6f7a6b1e1424874" style="animation-delay: 240ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(66, 72, 116);"><a href="/palette/f4eeffdcd6f7a6b1e1424874"></a><span onclick="copy(this)" data-copy="#424874">#424874</span></div>
              <div class="place c2" style="background-color: rgb(166, 177, 225);"><a href="/palette/f4eeffdcd6f7a6b1e1424874"></a><span onclick="copy(this)" data-copy="#A6B1E1">#A6B1E1</span></div>
              <div class="place c1" style="background-color: rgb(220, 214, 247);"><a href="/palette/f4eeffdcd6f7a6b1e1424874"></a><span onclick="copy(this)" data-copy="#DCD6F7">#DCD6F7</span></div>
              <div class="place c0" style="background-color: rgb(244, 238, 255);"><a href="/palette/f4eeffdcd6f7a6b1e1424874"></a><span onclick="copy(this)" data-copy="#F4EEFF">#F4EEFF</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('f4eeffdcd6f7a6b1e1424874')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="9" data-code="f38181fce38aeaffd095e1d3" style="animation-delay: 270ms;">
          <div class="palette">
              <div class="place c3" style="background-color: rgb(149, 225, 211);"><a href="/palette/f38181fce38aeaffd095e1d3"></a><span onclick="copy(this)" data-copy="#95E1D3">#95E1D3</span></div>
              <div class="place c2" style="background-color: rgb(234, 255, 208);"><a href="/palette/f38181fce38aeaffd095e1d3"></a><span onclick="copy(this)" data-copy="#EAFFD0">#EAFFD0</span></div>
              <div class="place c1" style="background-color: rgb(252, 227, 138);"><a href="/palette/f38181fce38aeaffd095e1d3"></a><span onclick="copy(this)" data-copy="#FCE38A">#FCE38A</span></div>
              <div class="place c0" style="background-color: rgb(243, 129, 129);"><a href="/palette/f38181fce38aeaffd095e1d3"></a><span onclick="copy(this)" data-copy="#F38181">#F38181</span></div>
          </div>
          <div class="flex">
              <div class="actions flex">
                  <div class="button like" onclick="like('f38181fce38aeaffd095e1d3')">
                      <div class="icon" icon="like"></div>
                  </div>
              </div>
          </div>
      </div><div class="item" data-index="0" data-code="b1b2ffaac4ffd2daffeef1ff" style="animation-delay: 390ms;">
        <div class="palette">
            <div class="place c3" style="background-color: rgb(238, 241, 255);"><a href="/palette/b1b2ffaac4ffd2daffeef1ff"></a><span onclick="copy(this)" data-copy="#EEF1FF">#EEF1FF</span></div>
            <div class="place c2" style="background-color: rgb(210, 218, 255);"><a href="/palette/b1b2ffaac4ffd2daffeef1ff"></a><span onclick="copy(this)" data-copy="#D2DAFF">#D2DAFF</span></div>
            <div class="place c1" style="background-color: rgb(170, 196, 255);"><a href="/palette/b1b2ffaac4ffd2daffeef1ff"></a><span onclick="copy(this)" data-copy="#AAC4FF">#AAC4FF</span></div>
            <div class="place c0" style="background-color: rgb(177, 178, 255);"><a href="/palette/b1b2ffaac4ffd2daffeef1ff"></a><span onclick="copy(this)" data-copy="#B1B2FF">#B1B2FF</span></div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" onclick="like('b1b2ffaac4ffd2daffeef1ff')">
                    <div class="icon" icon="like"></div>
                </div>
            </div>
        </div>
    </div><div class="item" data-index="1" data-code="defcf9cadefcc3bef0cca8e9" style="animation-delay: 0ms;">
        <div class="palette">
            <div class="place c3" style="background-color: rgb(204, 168, 233);"><a href="/palette/defcf9cadefcc3bef0cca8e9"></a><span onclick="copy(this)" data-copy="#CCA8E9">#CCA8E9</span></div>
            <div class="place c2" style="background-color: rgb(195, 190, 240);"><a href="/palette/defcf9cadefcc3bef0cca8e9"></a><span onclick="copy(this)" data-copy="#C3BEF0">#C3BEF0</span></div>
            <div class="place c1" style="background-color: rgb(202, 222, 252);"><a href="/palette/defcf9cadefcc3bef0cca8e9"></a><span onclick="copy(this)" data-copy="#CADEFC">#CADEFC</span></div>
            <div class="place c0" style="background-color: rgb(222, 252, 249);"><a href="/palette/defcf9cadefcc3bef0cca8e9"></a><span onclick="copy(this)" data-copy="#DEFCF9">#DEFCF9</span></div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" onclick="like('defcf9cadefcc3bef0cca8e9')">
                    <div class="icon" icon="like"></div>
                </div>
            </div>
        </div>
    </div><div class="item" data-index="2" data-code="f67280c06c846c5b7b355c7d" style="animation-delay: 0ms;">
        <div class="palette">
            <div class="place c3" style="background-color: rgb(53, 92, 125);"><a href="/palette/f67280c06c846c5b7b355c7d"></a><span onclick="copy(this)" data-copy="#355C7D">#355C7D</span></div>
            <div class="place c2" style="background-color: rgb(108, 91, 123);"><a href="/palette/f67280c06c846c5b7b355c7d"></a><span onclick="copy(this)" data-copy="#6C5B7B">#6C5B7B</span></div>
            <div class="place c1" style="background-color: rgb(192, 108, 132);"><a href="/palette/f67280c06c846c5b7b355c7d"></a><span onclick="copy(this)" data-copy="#C06C84">#C06C84</span></div>
            <div class="place c0" style="background-color: rgb(246, 114, 128);"><a href="/palette/f67280c06c846c5b7b355c7d"></a><span onclick="copy(this)" data-copy="#F67280">#F67280</span></div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" onclick="like('f67280c06c846c5b7b355c7d')">
                    <div class="icon" icon="like"></div>
                </div>
            </div>
        </div>
    </div><div class="item" data-index="3" data-code="ffc8c8ff9999444f5a3e4149" style="animation-delay: 0ms;">
        <div class="palette">
            <div class="place c3" style="background-color: rgb(62, 65, 73);"><a href="/palette/ffc8c8ff9999444f5a3e4149"></a><span onclick="copy(this)" data-copy="#3E4149">#3E4149</span></div>
            <div class="place c2" style="background-color: rgb(68, 79, 90);"><a href="/palette/ffc8c8ff9999444f5a3e4149"></a><span onclick="copy(this)" data-copy="#444F5A">#444F5A</span></div>
            <div class="place c1" style="background-color: rgb(255, 153, 153);"><a href="/palette/ffc8c8ff9999444f5a3e4149"></a><span onclick="copy(this)" data-copy="#FF9999">#FF9999</span></div>
            <div class="place c0" style="background-color: rgb(255, 200, 200);"><a href="/palette/ffc8c8ff9999444f5a3e4149"></a><span onclick="copy(this)" data-copy="#FFC8C8">#FFC8C8</span></div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" onclick="like('ffc8c8ff9999444f5a3e4149')">
                    <div class="icon" icon="like"></div>
                </div>
            </div>
        </div>
    </div><div class="item" data-index="4" data-code="f6f5f5d3e0ea1687a7276678" style="animation-delay: 0ms;">
        <div class="palette">
            <div class="place c3" style="background-color: rgb(39, 102, 120);"><a href="/palette/f6f5f5d3e0ea1687a7276678"></a><span onclick="copy(this)" data-copy="#276678">#276678</span></div>
            <div class="place c2" style="background-color: rgb(22, 135, 167);"><a href="/palette/f6f5f5d3e0ea1687a7276678"></a><span onclick="copy(this)" data-copy="#1687A7">#1687A7</span></div>
            <div class="place c1" style="background-color: rgb(211, 224, 234);"><a href="/palette/f6f5f5d3e0ea1687a7276678"></a><span onclick="copy(this)" data-copy="#D3E0EA">#D3E0EA</span></div>
            <div class="place c0" style="background-color: rgb(246, 245, 245);"><a href="/palette/f6f5f5d3e0ea1687a7276678"></a><span onclick="copy(this)" data-copy="#F6F5F5">#F6F5F5</span></div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" onclick="like('f6f5f5d3e0ea1687a7276678')">
                    <div class="icon" icon="like"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <!-- "View More" button -->
        <button id="viewMoreButton" onclick="viewMore()">View More</button>
        <!-- "View Less" button (initially hidden) -->
        <button id="viewLessButton" onclick="viewLess()" style="display: none;">View Less</button>
    </div>
</div>

<%- include('partials/footer'); -%>

<script>
    function viewMore() {
      const hiddenItems = document.querySelectorAll('.item.hidden');
      for (let i = 0; i < 5 && i < hiddenItems.length; i++) {
        hiddenItems[i].classList.remove('hidden');
      }
  
      // If no more hidden items, hide the View More button and show the View Less button
      if (document.querySelectorAll('.item.hidden').length === 0) {
        document.getElementById('viewMoreButton').style.display = 'none';
        document.getElementById('viewLessButton').style.display = 'inline-block';
      }
    }
  
    function viewLess() {
      const items = document.querySelectorAll('.item');
      for (let i = 0; i < items.length; i++) {
        if (i >= 5) {
          items[i].classList.add('hidden');
        }
      }
      document.getElementById('viewMoreButton').style.display = 'inline-block';
      document.getElementById('viewLessButton').style.display = 'none';
    }
  
    // Initially display the first two rows
    window.onload = function() {
      const items = document.querySelectorAll('.item');
      for (let i = 0; i < items.length; i++) {
        if (i >= 5) {
          items[i].classList.add('hidden');
        }
      }
      // Show View More button initially
      document.getElementById('viewMoreButton').style.display = 'inline-block';
    };
  </script>