/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.recipe img{
  width: 100px;
  margin: -30px auto 20px;
}
footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

/* --------------------- */
.page {
  width: 100%;
  box-sizing: border-box
}

.feed {
  padding: 5px 20px 30px;
  display: grid;
  margin-top: -4px;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-column-gap: 3%;
  grid-row-gap: 24px
}

@media screen and (max-width: 1500px) {
  .feed {
      grid-template-columns:repeat(3,minmax(0,1fr))
  }
}

@media screen and (max-width: 1200px) {
  .feed {
      grid-template-columns:repeat(2,minmax(0,1fr));
      grid-column-gap: 6%
  }
}

.feed {
  padding: 5px 20px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ensure four columns */
  grid-column-gap: 0; /* Remove any gap between columns */
  grid-row-gap: 24px;
}

.item {
  align-items: center;
  position: relative;
  animation-name: item;
  animation-duration: .4s;
  animation-fill-mode: both;
  width: 85%; /* Each item occupies 25% of the container width */
  grid-column: span 1; /* Each item spans one column */
}


@keyframes item {
    0% {
        opacity: 0
    }
}

.palette {
    max-width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    position: relative;
    display: block;
    margin-bottom: 14px;
    overflow: hidden
}

.palette a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute
}

.place {
    position: absolute;
    width: 100%;
    transform-origin: top;
    background: grey;
    text-align: left;
    border-radius: 20px 20px 0 0
}

.feed .place {
    animation-name: place
}

@keyframes place {
    0% {
        transform: scaleY(1.2);
        filter: brightness(300%);
        filter: hue-rotate(50deg)
    }
}

.place span {
    position: absolute;
    text-align: center;
    transition: all .2s;
    bottom: 0;
    color: #fff;
    opacity: 0;
    background-color: rgba(0,0,0,.1);
    padding: 3px 6px;
    border-radius: 0 6px 0 0;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px
}

.place span:hover {
    background-color: rgba(0,0,0,.2)
}

.place span:active {
    background-color: rgba(0,0,0,.4)
}

.c0 {
    padding-bottom: 41%;
    animation-duration: 1s;
    border-radius: 0;
    border-radius: 10px 10px 0 0
}

.c1 {
    padding-bottom: 67%;
    animation-duration: .6s
}

.c2 {
    padding-bottom: 85%;
    animation-duration: .2s
}

.c3 {
    padding-bottom: 100%;
    animation-duration: 0s;
    border-radius: 20px 20px 0 0
}

.place:hover span {
    opacity: 1
}

.item .actions {
    position: relative;
    width: 100%;
    justify-content: flex-start
}

.item .date {
    opacity: .7;
    flex-shrink: 0
}

.item .line {
    position: absolute;
    bottom: -1px;
    left: 0
}

/* Style for button container */
.button-container {
  display: flex;
  justify-content: center; /* horizontally center items */
  align-items: center; /* vertically center items */
  margin-top: 20px; /* Adjust the top margin as needed */
  grid-column: span 5; /* Spanning five columns */
}

/* Style for "View More" and "View Less" buttons */
.button-container button {
  border-radius: 36px;
  background: #FEE996;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #21adb0;
}





/* Style for "View More" button */
#viewMoreButton {
  border-radius: 36px;
  background: #FEE996;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#viewMoreButton:hover {
  background-color: #21adb0;
}

/* Style for "View More" button */
#viewLessButton {
  border-radius: 36px;
  background: #FEE996;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#viewLessButton:hover {
  background-color: #21adb0;
}

.card {
  background-color: var(--bg-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.color-picker-container {
  margin-bottom: 20px;
}

.favorites-container,
.popular-container {
  margin-bottom: 20px;
}

.container-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color-box {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.color-box:hover {
  transform: scale(1.05);
}

.color-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5em;
  text-align: center;
  font-size: 0.8em;
}

.like-button,
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.6em;
  transition: background-color 0.3s;
}

.like-button:hover,
.remove-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.uploaded-image {
    max-height: 300px;
    max-width: 100%; /* Ensures the width adjusts proportionally */
    background-color: transparent;
    display: block; /* Ensures the image behaves as a block element */
    width: auto; /* Allows the image to adjust its width */
    height: auto; /* Allows the image to adjust its height */
    object-fit: contain; /* Maintains aspect ratio without deformation */
}

.download-container {
  margin-top: 20px;
  text-align: center;
}

.download-container button {
    border-radius: 36px; /* Apply the same border-radius as the "Add to Favorites" button */
    background: #FEE996;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-container button:hover {
    background-color: #21adb0;
}

.read-the-docs {
  color: #888;
  margin-top: 20px;
  font-size: 1.1em;
}

.color-picker-image-container {
  display: flex;
  justify-content: space-between;
}

.color-picker-container,
.image-upload-container {
  width: 48%;
}

.image-container {
    width: auto; /* Allow container to adjust dynamically based on content */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* Add overflow: hidden to prevent image overflow */
}

@media (max-width: 768px) {
.color-picker-image-container {
    flex-direction: column;
    align-items: stretch;
}

.color-picker-container,
.image-upload-container,
.image-container {
    width: 100%;
}
}


.favorite-button-container {
  margin-top: 20px;
}

/* Style for "View More" button */
.add-favorite-button {
    border-radius: 36px;
    background: #FEE996;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.add-favorite-button:hover {
    background-color: #21adb0;
}


.space {
  width: 5px;
}

.light {
  --bg-color: #ffffff;
}

.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

/* Basic reset for form elements */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 36px;
  background: #FEE996;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1a8473;
}

/* Custom styles for the select element */
.role-select-custom {
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M5.5 8L8 10.5 10.5 8z"/></svg>') no-repeat right 10px center;
  background-size: 16px 16px;
  padding-right: 30px;
  position: relative;
}

.role-select-custom::-ms-expand {
  display: none; /* Hide default dropdown arrow in IE */
}

.role-select-custom option {
  padding: 10px;
}

/* Error message styles */
.role-error-custom {
  color: red;
  font-size: 0.9em;
  height: 1em;
  margin-bottom: 10px;
}

/* Define a media query for screens with a maximum width of 768px (typical for phones) */
@media (max-width: 768px) {
  /* Adjust body margin for smaller screens */
  body {
    margin: 10px;
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  /* Adjust header styles */
  header {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  header img {
    width: 200px; /* Decrease logo size for smaller screens */
    margin: 0; /* Remove margin */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }

  header h2 {
    font-size: 2em; /* Decrease heading size */
  }

  header h3 {
    font-size: 1.2em; /* Decrease subheading size */
    margin: 0; /* Remove margin */
  }

  /* Adjust navigation menu */
  nav {
    margin-bottom: 60px; /* Reduce bottom margin */
  }

  nav ul {
    flex-direction: column; /* Stack menu items vertically */
    align-items: center; /* Center align items */
  }

  nav li {
    margin: 10px 0; /* Add margin between menu items */
  }

  nav li a {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  /* Adjust form styles */
  form {
    width: 90%; /* Adjust form width */
    padding: 20px; /* Increase padding */
  }

  form h2 {
    font-size: 2em; /* Decrease heading size */
    margin-bottom: 20px; /* Reduce bottom margin */
  }

  input,
  label,
  button {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  label {
    margin: 10px 0; /* Add margin between labels */
  }

  /* Adjust grid layout for recipe cards */
  .recipes {
    grid-template-columns: 1fr; /* Display one column on smaller screens */
    margin: 40px auto; /* Adjust margin */
  }

  .recipe {
    width: 90%; /* Adjust card width */
    margin: 0 auto; /* Center align cards */
  }

  .recipe img {
    width: 80px; /* Decrease image size */
    margin: 0 auto 10px; /* Adjust margin */
  }

  /* Adjust footer styles */
  footer {
    margin-top: 60px; /* Reduce top margin */
  }

  /* Adjust button styles */
  .button-container button,
  .add-favorite-button {
    font-size: 0.9em; /* Decrease button font size */
    padding: 8px 16px; /* Adjust button padding */
  }
}
